@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Quicksand:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

h2 {
  font-size: 280%;
}

/* Header: Background, logo & navigation bar */
#header-bg {
  height: 180px;
  width: 100%;
  background-color: rgba(144,238,144,0.9);
  background-image: url('../images/kmb_header_3.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  border-bottom: black solid 3px;
}
#logo img {
  height: 180px;
  width: auto;
  float: left;
  z-index: 2;
}
  /* Fixing the Header to the top when scrolling down*/
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
  /* Header Navigation */
.nav {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
}
#menu {
  font-size: 130%;
  letter-spacing: 2px;
  display: flex;
  float: right;
  margin-top: 146px;
}

#menu li, #b-menu li {
  list-style-type: none;
  margin-right: 35px;
}
#menu a {
  text-decoration: none;
  color: #000;
}
#menu a:hover {
  border-bottom: 1px solid #000;
}
.active {
  border-bottom: 2px solid #000;
}

/* Main Content*/
.main {
  margin-top: 180px;
  margin-bottom: 160px;
  background-image: url("../images/kitchen_background2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  z-index: 0;
}

.main-content, .sub-content, .gallery-content {
  background-color: rgba(144,238,144,0.9);
  margin: 0 28%;
}
.main-content, .sub-content {
  padding: 1% 1% 10%;
}
.main-content {
  text-align: center; 
}
.main-content h2 {
  padding: 20px 0;
}
.main-content p {
  padding: 10px 0;
}

/* Hero Image */
#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#hero-image {
  height: 600px;
  width: 100%;
  background: url("../images/company_van.webp") rgba(144,238,144,0.9) center top no-repeat;
  background-size: cover;
  background-position-y: 30%;
  border-bottom: black solid 3px;
}
#cover-text, #cover-slogan {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  position: absolute;
  text-align: center;
}
#cover-text {
  font-size: 175%;
  width: 250px;
  height: 150px;
  padding: 1% 0.5%;
  background-color: rgba(144,238,144,0.9);
  top: 30%;
  left: 10%;
}
#cover-text p {
  padding: 1.5%;
}

#cover-slogan {
  font-size: 280%;
  width: 400px;
  height: 160px;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(144,238,144,0.9);
  top: 20%;
  right: 10%;
}

/* Business Links*/
#b-menu li {
  display: inline-block;
  height: 100%;
  background-color: #fafafa;
  margin: 1%;
}

/* Services */
#services {
  display: inline-flex;
}
#services h3 {
  font-size: 150%;
  text-decoration: underline double black 2px;
}

#left-service, #right-service {
  width: 50%;
  margin-top: 3%;
  margin-bottom: 3%;
}
#left-service {
  margin-right: 2%;
}
#right-service {
  margin-left: 2%;
}
#exp {
  margin-top: 7%;
}
#service-h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
#circle-container {
  width: 300px;
  height: 300px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 50%;
  margin: 0 auto;
}
#circle-cover-bg {
  background: url("../images/services_center.webp") no-repeat center center;
  height: 100%;
  border-radius: 50%;
}
  /* Under services */
#more-service {
  margin-top: 2%;
  text-align: center;
  font-size: 110%;
}

/* Contact Form */
.contact-form {
  margin: 0 auto;
  max-width: 400px;
  padding: 30px;
  font-size: 110%;
  font-weight: bold;
}
.contact-form h2 {
  margin-top: 20%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 200%;
}
.text-input {
  background: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}
.text-input:hover {
  border-color: black;
}
.textarea {
  width: 100%;
  height: 100px;
}
.sent-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(144,238,144,1);
  border: black solid 2px;
  display: inline-block;
  border-radius: 5px;
}
.sent-button:hover {
  background-color: rgba(144,238,144,0.7);
  color: black;
}

/* Footer: Bottom side navigation */
footer {
  position: fixed;
  bottom: 0;
  height: 160px;
  width: 100%;
  text-align: center;
  background: #000;
  background-image: url(../images/under_the-sea.gif);
  background-size: cover;
  color: rgba(144,238,144,0.9);
  padding: 0;
  letter-spacing: 2px;
}

  /* Text over gif */
.overlay {
  padding: 0.5%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}
  /* Footer Content */
footer a {
  text-decoration: none;
  color: rgba(144,238,144,0.9);
}
.footer-contact li, .footer-nav li {
  display: inline;
}
.footer-contact i {
  font-size: 145%;
  padding: 0 3%;
}
.footer-nav{
  padding-top: 1%;
}
.footer-nav a {
  font-size: 95%;
  padding: 0 3%;
}
footer p {
  font-size: 70%;
  padding: 0.5% 0;
}


/* Sublemtary Content Layout */

.sub-h1 {
  font-size: 300%;
  padding-bottom: 1%;
}
.sub-content {
  text-align: left;
}
.sub-content h2 {
  padding: 20px 0;
  font-size: 130%;
}
.sub-content p {
  padding: 10px 0;
}

/* Legal content */

.server-log-scetion li {
  padding: 10px 0;
}
.server-log-scetion ul {
  padding-left: 20px;
}

/* Impressum */
.impressum-lists li {
  list-style-type: none;
}
.disclaimer-section h4 {
  padding-top: 2%;
}

/* Gallery */
.gallery-content {
  padding: 1% 1%;
  line-height: 2;
  column-gap: 1;
}
.gallery-content img {
  width: 100%;
  transition: transform .2s; /* Animation */
}
.gallery-content img:hover {
  transform: scale(1.5); /* 150% zoom */
}
#two-row-photos {
  display: flex;
  width: 50%;
  margin-bottom: 2%;
}
.three-row-photos {
  column-count: 3;
}
#gallery-video {
  height: 100%;
  width: 100%;
}


/* **** MEDIA QUERIES **** */

/* For screen sizes from 1800px wide and down */
@media screen and (max-width: 1800px) {

  /* Navigationbar */
  #header-bg {
    height: 150px;
  }
  #logo img {
    height: 150px;
  }
  #menu {
    font-size: 100%;
    margin-top: 115px;
  }

  /* Main layout */
  .main {
    margin-top: 150px;
    margin-bottom: 140px;
  }
  .main-content, .sub-content, .gallery-content {
    margin: 0 20%;
  }

  /* Footer */
  footer {
    height: 140px;
  }
  .footer-contact i {
    font-size: 110%;
    padding: 0 2%;
  }
  .footer-nav a {
    font-size: 85%;
  }
}

/* For screen sizes from 1455px wide and down */
@media screen and (max-width: 1455px) {

  /* navigationbar */
  #header-bg {
    height: 100px;
    }
  #logo img {
    height: 100px;
  }
  #menu {
    font-size: 100%;
    margin-top: 70px;
  }

  /* main layout */
  .main {
    margin-top: 100px;
    margin-bottom: 90px; 
  }
  .main-content, .sub-content, .gallery-content {
    margin: 0 15%;
  }

  /* Hero image */
  #cover-text {
    top: 30%;
  }
  #cover-slogan {
    top: 20%;
  }

  /* Footer */
  footer {
    height: 90px;
  }
  .footer-nav{
    padding-top: 0;
  }
  .footer-contact i {
    font-size: 80%;
  }
  .footer-nav a {
    font-size: 70%;
  }
  footer p {
    font-size: 60%;
  }
}

/* For screen sizes from 1275px wide and down */
@media screen and (max-width: 1275px) {

  /* navigationbar */
  #header-bg {
    height: 70px;
  }
  #logo img {
    height: 70px;
  }
  #menu {
    font-size: 95%;
    margin-top: 45px;
  }

  /* main layout */
  .main {
    margin-top: 70px;
    margin-bottom: 80px;    
  }
  .main-h1 {
    font-size: 250%;
    padding-bottom: 0;
  }
  .main-content, .sub-content, .gallery-content {
    margin: 0 10%;
  }

 /* Hero image */
  #cover-slogan {
    top: 30%;
  }
  #cover-text {
    top: 30%;
  }

  /* Footer */
  footer {
    height: 80px;
  }
  .footer-nav{
    padding-top: 0;
  }
  .footer-contact i {
    font-size: 80%;
  }
  .footer-nav a {
    font-size: 60%;
  }
  footer p {
    font-size: 50%;
  }
}

/* For screen sizes from 975px wide and down */
@media screen and (max-width: 975px) {
  h2 {
    font-size: 180%;
  }

  /* navigationbar */
  #header-bg {
    height: 60px;
  }
  #logo img {
    height: 60px;
  }
  #menu {
    font-size: 90%;
    margin-top: 35px;
  }

  /* main layout */
  .main {
    margin-top: 60px;
    margin-bottom: 75px;
  }
  .main-content, .sub-content, .gallery-content {
    margin: 0 5%;
  }

  /* Hero image */
  #cover-text {
    font-size: 132%;
    width: 250px;
    height: 100px;
    left: 10%;
    top: 40%;
  }
  #cover-slogan {
    font-size: 190%;
    width: 300px;
    height: 110px;
    right: 10%;
    top: 40%;
  }

  /* Services */
  #circle-container {
    width: 150px;
    height: 150px;
  }
  #circle-cover-bg {
    background-size: cover;
  }

  /* Footer */
  footer {
    height: 75px;
  }
  .footer-contact i {
    font-size: 70%;
  }
  .footer-nav a {
    font-size: 55%;
  }
  footer p {
    font-size: 45%;
  }
}

/* For screen sizes from 810px wide and down */
@media screen and (max-width: 810px) {

  /* navigationbar */
  #header-bg {
    height: 40px;
  }
  #logo img {
    height: 40px;
  }
  #menu {
    font-size: 80%;
    margin-top: 15px;
    margin-left: 8px;
    letter-spacing: 1px;
  }
  #menu li {
    margin-right: 25px;
  }

  /* main layout */
  .main {
    margin-top: 40px;
    margin-bottom: 70px;
  }

  /* Sublemtary layout */
  .sub-h1 {
    font-size: 200%;
  }

  /* Hero image */
  #cover-text {
    font-size: 112%;
    width: 220px;
    height: 90px;
    left: 10%;
    top: 40%;
  }
  #cover-slogan {
    font-size: 142%;
    width: 230px;
    height: 80px;
    right: 10%;
    top: 40%;
  }

  /* Footer */
  footer {
    height: 70px;
  }
  .footer-contact i {
    font-size: 65%;
  }
  .footer-nav a {
    font-size: 55%;
  }
  footer p {
    font-size: 40%;
  }
}

/* For screen sizes from 705px wide and down */
@media screen and (max-width: 705px) {

  /* navigationbar */
  #header-bg {
    height: 30px;
  }
  #logo img {
    height: 30px;
  }
  #menu {
    font-size: 70%;
    margin-top: 5px;
  }

  /* main layout */
  .main {
    margin-top: 30px;
    margin-bottom: 63px;
  }
  .main-content, .sub-content, .gallery-content {
    margin: 0 2%;
  }

  /* Services */
  #services {
    display: block;
  }
  #left-service, #right-service {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  #left-service > div, #right-service > div {
    margin: 0 5%;
  } 

  /* Footer */
  footer {
    height: 63px;
  }
  .footer-contact i {
    font-size: 50%;
  }
  .footer-nav a {
    font-size: 20%;
  }
  footer p {
    font-size: 15%;
  }
}

/* For screen sizes from 585px wide and down */
@media screen and (max-width: 585px) {
  h2 {
    font-size: 140%;
  }
  /* navigationbar */
  #menu {
    margin-top: 8px;
    margin-left: 9px;
    letter-spacing: 1px;
  }
  #menu li {
    margin-right: 7px;
  }

  /* Hero image */
  #cover-text {
    font-size: 106%;
    width: 210px;
    height: 90px;
    top: 20%;
  }
  #cover-slogan {
    font-size: 115%;
    width: 190px;
    height: 70px;
    padding: 3%;
    top: 40%;
  }

  /* Services */
  #left-service, #right-service {
    display: block;
  }

  /* Footer */
  .footer-contact i {
    padding: 0 6px;
  }
}

/* For screen sizes from 465px wide and down */
@media screen and (max-width: 465px) {

  /* navigationbar */
  #menu {
    margin-left: 6px;
    letter-spacing: 1px;
  }
  #menu li {
    margin-right: 5px;
  }

  /* Form */
  .sent-button {
    padding: 10px 28px;
    font-size: 90%;
  }  

  /* Footer */
  .footer-contact i {
    font-size: 48%;
    padding: 0 4px;
  }
  .footer-nav a {
    font-size: 40%;
  }
  footer p {
    font-size: 40%;
  }
}

/* For screen sizes from 404px wide and down */
@media screen and (max-width: 404px) {
  
  /* navigationbar */
  #menu {
    letter-spacing: 0px;
  }
}

/* For screen sizes from 383px wide and down */
@media screen and (max-width: 383px) {

  /* Sublemtary layout */
  .sub-h1 {
    font-size: 150%;
  }
  
  /* Form */
  .sent-button {
    padding: 6px 18px;
    font-size: 80%;
  }

  /* Footer */
  .footer-contact i {
    font-size: 41%;
    padding: 0;
  }
  .footer-nav a {
    font-size: 30%;
  }
  footer p {
    font-size: 20%;
  }
}

/* For screen sizes from 347px wide and down */
@media screen and (max-width: 347px){
  
  /* navigationbar */
  #menu {
    margin-left: 2px;
    font-size: 70%;
  }
  #menu li {
    margin-right: 2px;
  }
}

/* For screen sizes from 325px wide and down */
@media screen and (max-width: 325px) {

  h2 {
    font-size: 130%;
  }

  /* navigationbar */
  #logo img {
    height: 0;
  }

  /* Services */
  #service-h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  /* Form */
  .sent-button {
    padding: 2px 10px;
    font-size: 75%;
  }
}